@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/roboto/roboto-v18-latin-100.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-100.woff") format("woff");
}
/* --- general --- */
*,
::after,
::before {
  box-sizing: border-box;
}

*::selection {
  background: rgba(221, 68, 34, 0.5);
}

img::selection {
  background: none;
}

html,
body {
  position: relative;
  width: 100%;
  overflow: hidden;
}

html {
  height: 100%;
  overflow-y: auto;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #221e22;
  color: #fff;
  font-family: "Roboto", sans-serif;
  min-height: 100%;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
}

a:focus,
button:focus {
  outline: none;
}

/* --- animation --- */
@keyframes wave {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes flip {
  0% {
    transform: rotateY(-180deg);
  }
  50% {
    transform: translateY(-25%) rotateY(-45deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes rotateUp {
  0% {
    opacity: 0;
    transform: translateY(100%) rotateZ(-180deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotateZ(0);
  }
}
@keyframes visibility-hack {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
.flip {
  animation-name: flip;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotateUp {
  animation-name: rotateUp;
  animation-duration: 0.8s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

/* --- styles  --- */
.page {
  padding: 30px 15px;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 72px;
}
@media screen and (min-width: 576px) {
  .title {
    font-size: 96px;
  }
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 120px;
  }
}
.title__madeby {
  display: none;
  position: absolute;
  font-size: 11px;
  font-weight: 100;
  color: #fff;
}
.title__letter {
  display: block;
  color: #d42;
  font-weight: 100;
}
.title__letter:nth-child(1) {
  animation-delay: 0.125s;
}
.title__letter:nth-child(2) {
  animation-delay: 0.25s;
}
.title__letter:nth-child(3) {
  animation-delay: 0.375s;
}
.title__letter:nth-child(4) {
  animation-delay: 0.5s;
}
.title__letter:nth-child(5) {
  animation-delay: 0.625s;
}
.title__letter:nth-child(6) {
  animation-delay: 0.75s;
}
.title__letter:nth-child(7) {
  animation-delay: 0.875s;
}

.socialbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.socialbar__item {
  margin-right: 10px;
  margin-left: 10px;
  transform: translateZ(0);
}
.socialbar__item:nth-child(1) {
  animation-delay: 1.375s;
}
.socialbar__item:nth-child(2) {
  animation-delay: 1.5s;
}
.socialbar__item:nth-child(3) {
  animation-delay: 1.625s;
}
.socialbar__item:nth-child(4) {
  animation-delay: 1.75s;
}
.socialbar__link, .socialbar__icon {
  display: block;
}
.socialbar__link {
  position: relative;
  text-decoration: none;
}
.socialbar__link:active, .socialbar__link:focus, .socialbar__link:hover {
  text-decoration: none;
}
.socialbar__link:active .socialbar__icon__img, .socialbar__link:focus .socialbar__icon__img, .socialbar__link:hover .socialbar__icon__img {
  color: #d42;
}
.socialbar__icon {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #d42;
  overflow: hidden;
  transition: all 0.8s ease;
}
.socialbar__icon__img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45%;
  color: #fff;
  transform: translate(-50%, -50%);
  transition: color 0.2s ease;
}
.socialbar__icon__img > * {
  display: block;
}
